// Shrimpia Color Set
$shrimpianDarkForeground: #F4F7F3;
$shrimpianDarkBackground: #211520;
$shrimpianDarkPrimary: #B93E43;
$shrimpianDarkPanel: #392437;
$shrimpianDarkLink: #b46fde;
$shrimpianDarkDimmed: #868084;
$shrimpianDarkWarning: #ecbd15;
$shrimpianDarkSuccess: #57b809;
$shrimpianDarkDanger: #f44336;

$shrimpianLightForeground: #000000;
$shrimpianLightBackground: #A5CAEF;
$shrimpianLightPrimary: #B93E43;
$shrimpianLightPanel: #D0E3F7;
$shrimpianLightLink: #b46fde;
$shrimpianLightDimmed: #495a6b;
$shrimpianLightWarning: #9A8300;
$shrimpianLightSuccess: #abe300;
$shrimpianLightDanger: #D93737;


// Bootstrap Customize
$font-family-sans-serif: "Koruri", sans-serif;
$body-color: $shrimpianLightForeground;
$body-bg: $shrimpianLightBackground;
$body-color-dark: $shrimpianDarkForeground;
$body-bg-dark: $shrimpianDarkBackground;
$body-secondary-color:      $shrimpianLightDimmed !default;
$body-secondary-color-dark: $shrimpianDarkDimmed !default;

$card-bg: var(--sh-card-bg);

$primary:        $shrimpianDarkPrimary !default;
$success:        $shrimpianDarkSuccess !default;
$warning:        $shrimpianDarkWarning !default;
$danger:         $shrimpianDarkDanger !default;

// ...Finally, import Bootstrap
@import "bootstrap/scss/bootstrap";

// Custom Styles
body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: none;
}

html {
    --sh-card-bg: #{$shrimpianLightPanel};
    --sh-app-icon-color: #{$shrimpianLightPrimary};

    body {
        background-image: url("./assets/bg-light.png");
    }

    &[data-bs-theme="dark"] {
        --sh-card-bg: #{$shrimpianDarkPanel};

        body {
            background-image: url("./assets/bg-dark.png");
        }
    }
}

.sh-container {
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1024px;
    &.wide {
        max-width: auto;
    }
}

.fs-small {
    font-size: 0.8rem;
}

.sh-card-hover {
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--bs-box-shadow-lg) !important;
    }
}

.sh-app-icon-color {
    color: var(--sh-app-icon-color);
}