.sh-portal-text {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--bs-primary);
}

.sh-app-header {
    background-color: var(--sh-card-bg);
}

.sh-app-header-toggle {
    background-color: var(--sh-card-bg);
}